@font-face {
  font-family: "Witcher";
  src: url(./font/Thewitcher-jnOj.ttf);
}

:root {
  --font-witcher: "Witcher", sans-serif;
  --color-1: #c70a0a;
  --color-2: #a70d0d;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.social-alinhar {
  display: flex;
  align-self: flex-end;
}

.profiles {
  max-width: 100%;
  height: 100%;
}

.grid-profiles {
  display: flex;
  margin: 0 auto;
}

.names-profiles ul {
  list-style-type: none;
}

.names-profiles ul li {
  margin-top: 10px;
  padding-right: 20px;
}

.names-profiles ul li a {
  font-family: var(--font-witcher);
  color: white;
  letter-spacing: 1;
  transition: 0.5s;
}

.names-profiles a:hover {
  color: var(--color-1);
  letter-spacing: 2px;
}

.profile-img {
  display: flex;
  padding: 40px;
  position: relative;
}

.profile-img:before {
  content: "";
  width: 440px;
  height: 590px;
  top: 0;
  left: 15px;
  background-color: var(--color-2);
  position: absolute;
  opacity: 0.3;
  z-index: -2;
}

.profile-img img {
  max-width: 100%;
  object-fit: cover;
  -webkit-box-shadow: 10px 12px 15px -1px rgba(153, 3, 3, 0.4);
  box-shadow: 10px 12px 15px -1px rgba(116, 51, 51, 0.4);
}

.profile-img img:hover {
  -webkit-box-shadow: 10px 12px 15px -1px rgba(255, 0, 0, 0.4);
  box-shadow: 10px 12px 15px -1px rgba(255, 7, 7, 0.4);
}

.profile-text {
  align-self: flex-end;
  margin-left: 25px;
}

.profile-img p:nth-child(1) {
  font-family: var(--font-witcher);
  font-size: 3rem;
  text-transform: uppercase;
  margin-bottom: 40px;
}

.profile-text p {
  font-family: var(--font-witcher);
  font-size: 1.5rem;
  text-transform: uppercase;
  margin-left: 20px;
  margin-top: 10px;
}

.title-profile {
  opacity: 0;
}

.fadi-profile {
  padding: 20px;
  transition: 2s;
  opacity: 1;
}

.active-profile {
  display: none;
}

@media screen and (max-width: 1024px) {
  .profile-img:before {
    display: none;
  }
}

@media screen and (max-width: 825px) {
  .grid-profiles {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }

  .names-profiles {
    display: flex;
    justify-content: center;
    align-self: center;
  }

  .names-profiles ul li {
    padding-right: 0px;
  }

  .names-profiles a {
    font-size: 1.2rem;
  }

  .profile-img:before {
    display: none;
  }

  .profile-img {
    display: block;
    padding: 0px;
  }

  .profile-img img {
    max-width: 93%;
    object-fit: cover;
  }

  .profile-text p {
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 450px) {
  .grid-profiles {
    display: grid;
    grid-template-columns: 1fr 3fr;
  }

  .profile-img:before {
    display: none;
  }

  .profile-img {
    display: block;
    padding: 0px;
  }

  .profile-img img {
    max-width: 93%;
    object-fit: cover;
  }

  .names-profiles ul {
    padding: 7px;
  }

  .names-profiles a {
    font-size: 0.9rem;
  }

  .profile-text {
    margin-left: 0;
  }
}
